@model int


<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Confirmed!</h1>
        
    </div>
    <div class="col-12 text-center">
        <br/>
        Thank you for choosing Noheas Apparel! We're stoked that you're joining the Noheas crew and can't wait for you to rock your new gear. 
        Your support means the world to us, and we're excited to see how you style your new threads.
        <br />
        <span class="fw-bold"> Order Number : @Model</span>
    </div>
</div>